{% extends 'base.html.twig' %}

{% block title %}Livres
{% endblock %}

{% block body %}
	
	
 <!-- slider section -->
 <section class="slider_section ">
	<div id="customCarousel1" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
		<div class="carousel-item active">
		  <div class="container ">
			<div class="row">
			  <div class="col-md-6">
				<div class="detail-box">
				  <h5>
					 Bookstore
				  </h5>
				  <h1>
					Vous trouverez tous types <br>
					des livres
				  </h1>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
				  </p>
				  <a href="{{ path('genre_index') }}">
					Voir plus
				  </a>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="img-box">
				  <img src="images/Webp.net-resizeimage.png" alt="">
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="carousel-item">
		  <div class="container ">
			<div class="row">
			  <div class="col-md-6">
				<div class="detail-box">
				  <h5>
					Hajar Zarguan
				  </h5>
				  <h1>
					Savois plus d'information à propos  <br>des auteurs 
				  </h1>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
				  </p>
				  <a href="{{ path('auteur_index') }}">
					Savoir plus
				  </a>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="img-box">
				  <img src="images/slider-img.png" alt="">
				</div>
			  </div>
			</div>
		  </div>
		</div>

	  </div>
	  <div class="carousel_btn_box">
		<a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
		  <i class="fa fa-angle-left" aria-hidden="true"></i>
		  <span class="sr-only">precedent</span>
		</a>
		<a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
		  <i class="fa fa-angle-right" aria-hidden="true"></i>
		  <span class="sr-only">suivant</span>
		</a>
	  </div>
	</div>
  </section>
  <!-- end slider section -->
</div>


	
 <!-- blog section -->
 
 <section class="blog_section layout_padding"style=" background-color: white;" >
    <div class="container" >
		
      <div class="heading_container heading_center">
        <h2>
          Les livres 
        </h2>
		  
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-success" style="margin-bottom: 100px;" href="{{ path('livre_new') }}"><i class="fas fa-plus"></i></a>
		{% endif %}

	
      </div>

	  
		<div class=" row ">
	
			<div class="col-md-6" >

				<form class="search_form" method="POST" onsubmit="chercher(event)">
				<input  id="motCle" type="text" class="form-control" style="border-color: blue;"
				placeholder="Chercher un livre ...">
				<button class="btn btn-primary my-2"><i class="fa fa-search"></i></button>
				</form>
			</div>

		
	
			<div class="col-md-6">
				<form class="search_form" method="POST" onsubmit="list(event)">
					<input id="dateMin" type="number" class="form-control" placeholder="date 1">
					<input id="dateMax" type="number" class="form-control" placeholder="date 2">
					<button class="btn btn-primary "><i class="fas fa-list"></i></button>
				</form>
			</div>
      	</div>


	<div class="row">
		<div class="col-md-3 "> 
			<select class="form-select mt-2" onchange="filtrerParNote(event)">
				<option selected>Note</option>
				{% for i in 0..20 %}
					<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
			</select>

		</div>
		
		

		<div class="col-md-3 "> 
			<select class="form-select mt-2" onchange="filtrerParDate(event)">
				<option selected>Date de publication</option>
				{% for date in dates|sort  %}
					<option value="{{date.date_de_parution|date('m/d/Y')}}">{{date.date_de_parution|date("m/d/Y")}}</option>
				{% endfor %}
			</select>
			
		</div>
	

		<div class="col-md-3 "> 
			<select class="form-select mt-2" onchange="filtrerParAuteur(event)">
				<option selected>Auteur</option>
				{% for auteur in auteurs %}
					<option value="{{auteur.id}}">{{auteur.nomPrenom}}</option>
				{% endfor %}
			</select>
			
		</div>
		

		<div class="col-md-3 "> 

		<select class="form-select mt-2" onchange="filtrerParGenre(event)">
			<option selected>Genre</option>
			{% for genre in genres %}
				<option value="{{genre.id}}">{{genre.nom}}</option>
			{% endfor %}
		</select>	
		</div>	
		


	</div>

		
	
	

      <div class="row">


		{% for livre in livres %}
        <div class="col-sm-6 col-md-4 ">
          <div class="box">
            <div class="img-box">
            
              <h4 class="blog_date" style="background-color: cadetblue;">
                <span> {{ livre.titre }} 
					               </span>
              </h4>
            </div>
            <div class="detail-box">
              <h5>
				{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}
				
              </h5>
              <p>
				- ISBN: {{ livre.isbn }}
				  <br>
				- Nombre des pages: {{ livre.nombrePages }} pages
				<br> - Note: <span id="livre-note-{{ livre.id }}">{{ livre.note }}</span>
              </p>
            	<a  class="btn btn-info"  style="color: white;" href="{{ path('livre_show', {'id': livre.id}) }}"><i class="far fa-eye"></i></a>
						{% if is_granted('ROLE_ADMIN') %}
				<a  class="btn btn-success" style="color: white;" href="{{ path('livre_edit', {'id': livre.id}) }}"><i class="far fa-edit"></i></a>
							{{ include('livre/_delete_form.html.twig') }}
						{% endif %}
            </div>
          </div>
        </div>

		{% endfor %}

		
      </div>
    </div>
  </section>

  <!-- end blog section -->



{% endblock %}
{% block javascripts %}
	<script src="/js/main.js"></script>
{% endblock %}
